<!-- salesforce.component.html -->
<!-- <app-checl></app-checl> -->
<div class="salesforce-container">
    <!-- <h2>Salesforce Component</h2> -->

    <!-- SObject Dropdown -->
    <label for="sObjectSelect">Select Object:</label>
    <select id="sObjectSelect" [(ngModel)]="selectedSObject" (change)="getFields()">
        <option class="option" *ngFor="let sObject of sObjects$ | async">{{ sObject }}</option>
    </select>

    <!-- Fields Multi-Select Dropdown -->
    <div *ngIf="selectedSObject" class="multiselect">
        <label for="fieldsSelect" >Select Fields for {{selectedSObject}}</label>
        <select class="form-select" aria-label="multiple select example" id="fieldsSelect" [(ngModel)]="selectedFields" (click)="change_flags()" multiple>
            <option class="option" *ngFor="let field of fields$ | async">{{ field }}</option>
        </select>

        <button [disabled]="!selectedSObject || !selectedFields.length" (click)="fetchData()">Fetch Data</button>
    </div>
</div>

<div>
    <table *ngIf="records$ && !update_select && fetchClicked " >
        <thead>
            <tr>
                <th class="hello">Sr No.</th>
                <th class="hello" *ngFor="let field of selectedFields">{{ field }}</th>
                <th class="hello">Functionalities</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records$ | async;index as i" [class.aqua]="record['Id']===urecordId">
                    <td>{{i+1}}</td>
                    <td *ngFor="let field of selectedFields">{{record[field]}}</td>
                    <td>
                        <button class="update" (click)="updateRecord(record)">Update</button>
                        <button class="delete" (click)="deleteRecord(record)">Delete</button>
                    </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container center" *ngIf="update_select">
    <div class="container" *ngFor="let field of selectedFields;index as i">
        <div *ngIf="!fieldhash[field]">
            <label for="field"> {{field}}</label>
            <input type="string" [readonly]="!fieldhash[field]" disabled [(ngModel)]="crecord[field]">  
        </div>
        <div *ngIf="fieldhash[field]">
            <label for="field"> {{field}}</label>
                <div *ngIf="typehash[field]!=='picklist' else pick">
                    <input type="string" [(ngModel)]="selectedrecord[field]">  
                </div>
                <ng-template #pick>
                    <select class="form-select" [(ngModel)]="selectedrecord[field]" placeholder="selectedrecord[field]">
                        <option class="option" *ngFor="let val of valuehash[field]">{{val}}</option>
                    </select>
                </ng-template>
        </div>
    </div>
    <button class="update" (click)="finalUpdate(selectedrecord)">Update</button>
</div>